<launch>
    <arg name="use_gui" default="false" />
    <arg name="load_robot_description" default="false"/>
    <include file="$(find hlrobot_moveit_config)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true" />
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="info" value="true"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find hlrobot_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find hlrobot_moveit_config)/launch/moveit.rviz"/>
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node>
</launch>